
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(21, 24, 24);

}
/*Swich slider*/
.switch {
  position: relative;
  display: inline-block;
  left: 0px;
  top: -5px;
  width: 41px;
  height: 23px;
}
.icon{
  padding-top: 20px;
  width: 1.2rem;

}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 0;
  right: 0;
  bottom: -3px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 27px;
}
.icons-modes{
  margin-left: 49px;
}
.slider.round:before {
  border-radius: 50%;
}
/*theme switch*/
:has(.switch #light-theme-toggler:checked) {
  background-color: #e8e8e8;
  color: black;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: -30px;
}
.container textarea {
  margin: 3rem;
  height: 85vh;
  width: 95%;
  padding: 2rem;
  background-color: rgb(114, 114, 114);
  color: #fff;
  border-radius: 1rem;
  resize: none;
}
.container textarea::placeholder {
  color: #cac7c7;
}

.container textarea:focus {
  outline: none;
}

.btns button {
  display: block;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  width: 6rem;
  background-color: rgb(27, 145, 56);
  border: none;
  border-radius: 0.25rem;
  color: #fff;
}
.btns button:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container textarea {
    height: 40vh;
    margin: 1rem;
  }
  .btns button {
    display: flex;
    flex-direction: row;
  }
}

#codeEditor,
#lineCounter {
  margin: 0;
  overflow-x: hidden;
  border: none;
}

#lineCounter {
  width: 0%;
  background-color: transparent;
  color: #888888;
  overflow-y: hidden;
}

#codeEditor {
  padding: 2rem;
  margin-right: 5%;
  width: 100%;
}

#lineCounter:focus-visible,
#codeEditor:focus-visible {
  outline: none;
}
